@import './utilities.css';
@import './transition.css';
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --primary: #1b2d3c;
    --boder: #273e52;
    --text: #a5a5a5;
    --black: #000;
    --white: #fff;
    --bg: #222d38;

    --font-family: 'Nunito', sans-serif;
    --scrollbar: rgba(255, 255, 255, 0.3);

    --header-height: 4.63rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #222d38;
    color: var(--text);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.6;
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    -webkit-transition: background-color 150ms ease-out;
    transition: background-color 150ms ease-out;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: #3b6080;
}
::-webkit-scrollbar-track {
    background: #213342;
}

input,
button {
    border: none;
    outline: none;
}
