.text-shadow {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.box-shadow {
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.07),
        0px 1px 3px rgba(0, 0, 0, 0.29);
}

.shake {
    animation: shake 1.5s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-5deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(5deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-5deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(5deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes expandHeight {
    0% {
        max-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 400px; /* Điều chỉnh cho phù hợp */
        opacity: 1;
    }
}

.expand-animation {
    animation: expandHeight 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    overflow: hidden;
}
