.btn {
    @apply cursor-pointer touch-manipulation;
    @apply px-[12px] py-[6px];
    @apply text-center align-middle font-normal whitespace-nowrap;
    @apply transition-all duration-500 select-none;
}
.btn-danger {
    background-image: var(--gradient-danger);
    background-size: 200% 100%;
    transition: all 0.7s;
    background-color: #d9534f;
}

.btn-danger:hover,
.status:hover,
.post:hover {
    background-position: right center;
}

.status {
    background: var(--gradient-status);
    transition: 0.7s ease;
}

.status::after {
    @apply absolute -bottom-[4px] left-[2px] z-[999999] rotate-[44deg];
    @apply border-[4px] border-solid border-transparent border-b-[#5f0e0c];
}

.btn-esp {
    background-image: linear-gradient(to right, #009245, #d0c200, #00a8c5, #d9e021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
    transition: all 0.4s ease-in-out;
    background-size: 300% 100%;
    background-color: #5cb85c;
}

.btn-play {
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, #ffbb00, #e43603, #ff6290, #ff5000);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    background-size: 300% 100%;
    background-color: #d9534f;
}

.btn-esp:hover,
.btn-play:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
}

.post {
    background: #0b0f15;
    background-size: 200% 100%;
    background-image: var(--gradient-post);
    transition: all 0.4s ease-in-out;
}

.danger-text {
    background: linear-gradient(to right, rgb(255, 138, 0), rgb(255, 32, 112)) text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}

.danger-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 138, 0), rgb(255, 32, 112));
}

.bg-blur {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(6, 6, 6, 0.55) 30%, rgba(0, 0, 0, 0.92) 100%);
}

.see-all {
    background: linear-gradient(to right, #151d25, #194161);
}

.see-all:hover {
    background: #0e1215;
}

.episode-gradient {
    background-size: 300% 100%;
    background: var(--gradient-episode);
}

.movie-grid {
    @apply grid grid-cols-3 gap-3 lg:grid-cols-6;
}

.grid-info {
    @apply grid grid-cols-3 gap-3 lg:grid-cols-4;
}
